;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[org.clojure/test.check "1.1.0"]]

 :builds
 {:script-example
  {:target :node-script
   :main script-example.main/main
   :output-to "output/script-example.js"}
  :repl-example
  {:target :node-script
   :main repl-example.main/main
   :output-to "output/repl-example.js"}}}
